header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.logo img {
    height: 130px;
}

li.logo:hover, li.logo:active {
    background: none;
}

.top-nav a.page-title {
    font-size: 20px;
}

table tr td a.btn-floating {
    margin: 0 5px;
}

.page-content.row {
    padding-top: 20px;
}

a.btn {
    margin: 0 2px;
}

.transctionMayAlreadyExists {
	background-color: orange;
}